:root {
    --rotary-blue: #17458f;
    --rotary-gold: #f7a81b;
    --azure: #0067c8;
    --white: #ffffff;
    --black: #000000;
    --background-color: #f0f4f8;
    --shadow-light: rgba(0, 0, 0, 0.1);
    --shadow-medium: rgba(0, 0, 0, 0.15);
    /* Neutrales para componentes */
    --track-bg: rgba(0, 0, 0, 0.05);
    --wave-gloss: rgba(255, 255, 255, 0.2);

    /* Paleta de niveles */
    --level-1: #184691;
    --level-2: #0079db;
    --level-3: #f7b02b;
    --level-4: #f7c340;
    --level-5: #f7e05f;
    
    --level-1-light: #5d7db2;
    --level-2-light: #4da1e6;
    --level-3-light: #f9c86a;
    --level-4-light: #f9d579;
    --level-5-light: #f9e98f;

    --text-color: #333333;
}
